In [ ]:
Numerical Techniques - Python Programming
Assignment 1
MSc Physics University of Mumbai (Autonomous)
UDP Kalina
Instructor: Mr. Sajeev Chacko

In [18]:
print("# To calculate area of a triangle using side lengths")
a=int(input("enter side length A:"))
b=int(input("enter side length B:"))
c=int(input("enter side length C:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("area = ", area)

# To calculate area of a triangle using side lengths

enter side length A: 3
enter side length B: 4
enter side length C: 5

area =  6.0

In [19]:
print("# To swap values of two variables")
x=int(input("enter a number for X = "))
y=int(input("enter a number for Y = "))
temp=x
x=y
y=temp
print("X =", x)
print("Y =", y)

# To swap values of two variables

enter a number for X =  4
enter a number for Y =  5

X = 5
Y = 4

In [20]:
print("# To convert km to miles")
kilometers=float(input("enter value for km:"))
k_m=0.62
miles=kilometers*k_m
print(("%0.2f kilometers is equal to %0.2f miles") %(kilometers, miles))

# To convert km to miles

enter value for km: 3

3.00 kilometers is equal to 1.86 miles

In [21]:
print("# To convert degrees Celsius to degrees Fahrenheit")
C=float(input("Enter degrees Celsius C = "))
F=C*(9/5)+32
print("Degrees Fahrenheit F = ", F)

# To convert degrees Celsius to degrees Fahrenheit

Enter degrees Celsius C =  40

Degrees Fahrenheit F =  104.0

In [22]:
print("# To find the largest amongst 3 numbers")
N=int(input("enter first number:"))
l=N
s=N
for i in range (2):
    N=int(input("enter next number:"))
    if N>l:
        l=N
        print()
print("largest number is:", l)

# To find the largest amongst 3 numbers

enter first number: 98
enter next number: 0
enter next number: -67

largest number is: 98

In [23]:
print("# To check if any integer is an armstrong number")
N=int(input("enter a number N = "))
order=len(str(N))
sum=0
temp=N
while temp>0:
    digit=temp%10
    sum+=digit**order
    temp//=10
if N==sum:
    print(N,"is an armstrong number")
else:
    print(N,"is NOT an armstrong number")

# To check if any integer is an armstrong number

enter a number N =  8208

8208 is an armstrong number

In [24]:
print("# To find the sum of the first N natural numbers")
N=int(input("enter number N:"))
S=(N*(N+1)/2)
print("the sum of the first" , N ,"natural numbers = ",S)

# To find the sum of the first N natural numbers

enter number N: 5

the sum of the first 5 natural numbers =  15.0

In [25]:
print("# To display powers of 2")
x=-1
for i in range (21):
    n=2**i
    x+=1
    print("2^",x,"is",n)

# To display powers of 2
2^ 0 is 1
2^ 1 is 2
2^ 2 is 4
2^ 3 is 8
2^ 4 is 16
2^ 5 is 32
2^ 6 is 64
2^ 7 is 128
2^ 8 is 256
2^ 9 is 512
2^ 10 is 1024
2^ 11 is 2048
2^ 12 is 4096
2^ 13 is 8192
2^ 14 is 16384
2^ 15 is 32768
2^ 16 is 65536
2^ 17 is 131072
2^ 18 is 262144
2^ 19 is 524288
2^ 20 is 1048576

In [26]:
print("# To display multiplication table")
n=int(input("Enter integer for multiplication table:"))
for i in range(1,13):
    print(n,"x",i,"=",n*i)

# To display multiplication table

Enter integer for multiplication table: 15

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180

In [27]:
print("# To convert decimal to binary")
def dec(n):
    b=0
    i=1
    r=0
    while n!=0:
        r=n%2
        n=n//2
        b+=r*i
        i*=10
    return b
n=int(input("Enter an integer decimal:"))
print("Binary of",n, "is", dec(n))

# To convert decimal to binary

Enter an integer decimal: 13

Binary of 13 is 1101

In [28]:
print("# To convert decimal to octal")
def dec(n):
    b=0
    i=1
    r=0
    while n!=0:
        r=n%8
        n=n//8
        b+=r*i
        i*=10
    return b
n=int(input("Enter an integer decimal:"))
print("Octal of",n, "is", dec(n))

# To convert decimal to octal

Enter an integer decimal: 89

Octal of 89 is 131

In [29]:
print("# To convert decimal to hexadecimal")
conversion_table={0:"0",1:"1",2:"2",3:"3",4:"4",5:"5",6:"6",
                  7:"7",8:"8",9:"9",10:"A",11:"B",12:"C",13:"D",14:"E",15:"F"}
def dec(n):
    if(n<=0):
        return""
    r=n%16
    return dec(n//16)+conversion_table[r]
n=int(input("Enter an integer decimal:"))
print("Hexadecimal of",n, "is", dec(n))

# To convert decimal to hexadecimal

Enter an integer decimal: 300

Hexadecimal of 300 is 12C